#home-icon{
  width: 60px;
  height: auto;
  float: right;
}

body{
  margin: 30px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a2/Sandakan_Sabah_Shell-Station-Labuk_Road-01.jpg);
  font-family: Verdana, Geneva, sans-serif;
}

h1{
  text-align: center;
  font-size: 32px;
  margin-left: 150px;
  margin-right: 100px;
  background-color: orange;
  border-radius: 20px;
  padding:10px;
}

h2{
  margin-left: 150px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 24px;
  max-width: 600px;
}

p{
  margin-left: 150px;
  max-width: 600px;
  font-size: 18px;
}

.results h3{
  margin-left: 140px;
  text-align: center;
  max-width: 600px;
  background-color: orange;
  border-radius: 20px;
  padding: 10px;
}

.results p{
  margin-left: 150px;
  text-align: center;
  max-width: 600px;
}

.results img{
  margin-left: 150px;
  text-align: center;
}

.results h5{
  font-style: italic;
  background-color: white;
  margin-left: 150px;
  text-align: center;
  max-width: 600px;
  padding: 5px;
  border-radius: 20px;
}
.output{
  font-size: 15px;
  float: right;
  text-align: right;
  margin-right: 10px;
}

.car-image{
  float: right;
  margin-right: 10px;
  padding: 15px;
  background-color: white;
  border-radius: 20px;
}
