body {
  background-color: #AA4465;
  font-family: 'Anonymous Pro';
  font-size: 22px;
  margin: auto;
}

.title {
  text-align: center;
  font-style: oblique;
  color: #1E000E;
  background-color:#93E1D8;
  padding: 20px;
}

#challenges, #problems {
  color: black;
  background: #FFA69E;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  width: 900px;
  margin: auto;
  margin-top: 50px;
}

#challenges h2, #problems h2{
  color: #861657;
  font-style: oblique;
}

#output {
  color: white;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}

#output h4 {
  color: pink;
}

.links {
  background-color: #1E000E;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 5px;
  overflow: auto;
  margin: auto;
  text-align: center;
}
