body {
  background-color: #2E2532;
  font-family: 'Alata';
}

#title {
  text-align: center;
  color: white;
  background-color: #631D76;
  padding: 20px;
}

#challenges, #problems {
  color: #FBFBFB;
  background: black;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  width: 900px;
  margin: auto;
}

#results{
  color: #FBFBFB;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  margin: auto;
}

#outputButton{
  margin: auto;
  margin-bottom: 10px;
}

#output{
  margin:auto;
  background:#FBFBFB;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1400px;
  margin-bottom: 100px;
}

#output p{
  color: #9E4770;
  padding: 10px;
}

.links {
  background-color: #201A23;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 5px;
  overflow: auto;
  margin: auto;
  text-align: center;
}
