#home-icon{
  width: 50px;
  height: auto;
}

body{
  font-family: "lucida sans";
  text-align: center;
  max-width: 1025px;
  background-image: linear-gradient(white,#f7d497,#b58341,#524739);
}

p{
  display: inline-block;
  text-align: center;
}

.results h1{
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 15px;
  margin-top: 50px;
}
.results h2{
  background-color: #b58341;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.results h3{
  font-family: "lucida sans";
  color: #000000;
  font-size: 15px;
}

.results h4{
  font-family: "lucida sans";
  color: #000000;
  font-size: 15px;
}

.results h5{
  font-style: italic;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 100px;
}

.results img{
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}
