#greeting{
  font-family: sans-serif;
  color: white;
  font-size: 150%;
  text-align: center;
  background-color: #44006e;
  padding: 10px;
  margin: 10px;
  border: dashed 5px #9fabfc;
  border-radius: 20px;
}

#content{
  text-align: center;
  font-family: serif;
  background-color: #b192f0;
  padding: 10px;
  margin: 30px;
  border: solid 1px #444444;
  font-size: 25px;
}

img#pair-programming{
  max-width: 50%;
  height: auto;
}

#our-list{
  text-align: left;
  font-family: cursive;
  background-color: Red;
  text-indent: 20px;
  padding: 10px;
  margin: 30px;
  border: solid 1px #444444:
  border-radius: 20px;
}

p#quote{
  text-indent: 105px;
  font-family: fantasy;
  font-size: 30px;
  background-color: #3d6eff;
  margin-right: 900px;
  padding: 10px;
  border-radius: 20px;
}

img#snoop-dawg{
  max-width: 20%;
  height: auto;
}
