html{
background-image: url(https://img.freepik.com/free-photo/crumpled-white-paper_1194-7543.jpg?);
background-repeat: repeat;
background-size: cover;
font-family: 'Gaegu';
}

body{
  cursor: url("https://img.icons8.com/external-kmg-design-flat-kmg-design/512/external-pencil-education-kmg-design-flat-kmg-design.png"), auto;
}

.navbar{
  display: flex;
	flex-direction: column;
  align-content: flex-start;
  float: right;
  position: sticky;
  transform: rotate(45deg);
  background-image: url(https://www.pngkey.com/png/full/401-4012954_pink-eraser-transparent-images-pink-pearl-eraser.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -300px;
  margin-top: 100px;
  width: 350px;
  padding: 25px;
}


.map img{
  box-shadow: 10px 10px 100px black;
  width: 33%;
  position:absolute;
  left: 33%;
  z-index: 0;
}

#pin1 {
  z-index: 2;
  position: fixed;
  top: 38.5%;
  left: 41.5%;
  width: 20px;
}

#pin2 {
  z-index: 2;
  position: fixed;
  top: 26%;
  left: 37.5%;
  width: 20px;
}

#pin3 {
  z-index: 2;
  position: fixed;
  top: 12%;
  left: 42%;
}

#pin4 {
  z-index: 2;
  position: fixed;
  top: 40%;
  left: 51.5%;
  width: 20px;
}

#pin5 {
  z-index: 2;
  position: fixed;
  top: 25%;
  left: 51%;
  width: 20px;
}

.options img{
  border-radius: 20px;
  padding: 5px;
}

#userFavorites{
  display: none;
  position: fixed;
  background: url(https://www.freeiconspng.com/thumbs/torn-paper/the-packaging-is-torn-paper-icon-clipart-photo-19.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  text-align: center;
  width: 600px;
  height: 500px;
  right: 0;
  bottom: 0;
  margin-right: 100px;
  margin-bottom: 50px;
}

#userFavorites h1{
  transform: rotate(-2deg);
  margin-top: 75px;
}

#siteInfo{
  position: absolute;
  background: url(https://pngfolio.com/images/all_img/copy/1634892847iphone-mockup-png.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 45vh;
  height: 70vh;
  left: 5vw;
  text-align: center;
  bottom: 0;
}
#siteInfo h1{
  margin-left: 170px;
}

#siteInfo .info-panel{
  position: fixed;
  overflow: scroll;
  left: 14.66vw;
  padding: 15px;
  padding-bottom: 400px;
  top: 38.75%;
  bottom: 6vw;
  width: 10%;
  max-height: 15%;
  background-color: #abf0ff;
  border-radius: 30px;
  font-size: 20px;
}
