html {
  background-image: url(https://img.freepik.com/free-photo/crumpled-white-paper_1194-7543.jpg?);
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Gaegu';
  cursor: url("https://img.icons8.com/external-kmg-design-flat-kmg-design/512/external-pencil-education-kmg-design-flat-kmg-design.png%22"), auto;}
}

body {
  cursor: url("https://img.icons8.com/external-kmg-design-flat-kmg-design/512/external-pencil-education-kmg-design-flat-kmg-design.png"), auto;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  float: right;
  position: sticky;
  transform: rotate(45deg);
  background-image: url("../img/eraser.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -300px;
  margin-top: 100px;
  width: 300px;
  padding: 20px;
  z-index: 5;
}

.navbar img:hover {
  cursor: pointer;
  opacity: 90%;
  border-style: dashed;
  width: 75px;
}

.tip-phone {
  visibility: hidden;
  z-index: 2;
  color: white;
  position: fixed;
  box-shadow: 10px 10px 10px black;
  float: left;
  bottom: 600px;
  left: 15px;
  text-align: center;
  width: 150px;
  padding: 20px;
  border-radius: 20px;
  background-color: #41658A;
}

.tip-nav {
  visibility: hidden;
  z-index: 2;
  color: white;
  position: fixed;
  box-shadow: 10px 10px 10px black;
  right: 20%;
  text-align: center;
  width: 10%;
  padding: 20px;
  border-radius: 20px;
  background-color: #41658A;
  font-size: 20px;
}

.map img {
  box-shadow: 10px 10px 100px black;
  margin: auto;
  width: 33%;
  height: 99%;
  position: absolute;
  left: 33%;
  resize: none;
  z-index: 0;
  padding: 0;
}

#pin1 {
  z-index: 1;
  position: fixed;
  top: 35.5%;
  left: 43%;
  right: 57%;
  cursor: pointer;
}

#pin2 {
  z-index: 2;
  position: fixed;
  top: 22.5%;
  left: 39.5%;
  cursor: pointer;
  rotate: 20deg;
}

#pin3 {
  z-index: 2;
  position: fixed;
  top: 7%;
  left: 43%;
  cursor: pointer;
  rotate: 56deg;
}

#pin4 {
  z-index: 2;
  position: fixed;
  top: 39%;
  left: 53.5%;
  cursor: pointer;
}

#pin5 {
  z-index: 2;
  position: fixed;
  top: 22.5%;
  left: 53%;
  cursor: pointer;
  rotate: 4deg;
}

#pin6 {
  z-index: 2;
  position: fixed;
  top: 54%;
  left: 57.5%;
  rotate: 20deg;
  cursor: pointer;
}

#pin7 {
  z-index: 2;
  position: fixed;
  top: 75%;
  left: 47.25%;
  cursor: pointer;
}

#pin8 {
  z-index: 2;
  position: fixed;
  top: 61.5%;
  left: 39%;
  cursor: pointer;
  rotate: 48deg;
}

#pinInfo1, #pinInfo2, #pinInfo3, #pinInfo4, #pinInfo5, #pinInfo6, #pinInfo7, #pinInfo8 {
  visibility: hidden;
  position: fixed;
  background-image: url(https://purepng.com/public/uploads/large/purepng.com-yellow-sticky-notessticky-notesclipartyellowpinnedtaped-1421526499874kcr69.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  top: 20%;
  left: 2%;
  width: 20%;
  height: auto;
  padding: 50px;
  margin-top: 75px;
  font-size: 24px;
}

#pinInfo1 {
  padding: 150px;
}

#pinInfo1 h2, #pinInfo2 h2,#pinInfo3 h2,#pinInfo4 h2,#pinInfo5 h2,#pinInfo6 h2,#pinInfo7 h2,#pinInfo8 h2{
  rotate:-9deg;
  margin-top: 50px;
  margin-left: -50px;
}

#pinInfo1 p,#pinInfo2 p,#pinInfo3 p,#pinInfo4 p,#pinInfo5 p,#pinInfo6 p,#pinInfo7 p,#pinInfo8 p {
  rotate:-9deg;
  font-size: 18px;
}

#pinInfo1 img, #pinInfo2 img,#pinInfo3 img,#pinInfo4 img,#pinInfo5 img,#pinInfo6 img,#pinInfo7 img,#pinInfo8 img{
  margin-left: -20px;
  box-shadow: 2px 2px 10px black;
  border-style: dashed;
  rotate:-9deg;
  width: 60%;
}

.options img {
  border-radius: 20px;
  padding: 5px;
}

#userFavorites {
  display: none;
  position: fixed;
  background: url(https://i.pinimg.com/736x/f2/8b/57/f28b579a1f6d5100fa77fe6c0b02c72e.jpg);
  background-position: bottom;
  background-size: contain;
  text-align: center;
  width: 600px;
  height: 500px;
  right: 0;
  bottom: 0;
  margin-right: 100px;
  margin-bottom: 50px;
}

#userFavorites h1 {
  transform: rotate(-2deg);
  margin-top: 75px;
}

#userPhone {
  position: absolute;
  background: url(https://pngfolio.com/images/all_img/copy/1634892847iphone-mockup-png.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 600px;
  height: 800px;
  text-align: center;
  bottom: 0;
  z-index: 5;
}

#userPhone .info-panel {
  position: fixed;
  max-width: 235px;
  min-height: 550px;
  margin-top: 20px;
  left: 250px;
  padding: 15px;
  background-color: #9BD1E5;
  border-radius: 30px;
  font-size: 18px;
}

#userPhone .info-panel h2 {
  color: white;
  background-color: #6A8EAE;
  border-radius: 30px;
  padding: 5px;
}

#userPhone .info-panel #getStarted {
  color: #053C5E;
  font-size: 20px;
  font-family: 'Gaegu';
  padding: 15px;
  background-color: #FDCA40;
  transition: 0.7s;
}

#userPhone .info-panel #learnMore {
  color: white;
  font-size: 20px;
  font-family: 'Gaegu';
  margin-top: 5px;
  padding: 10px;
  background-color: #7C90DB;
  transition: 0.7s;
}

#userPhone .info-panel #learnMore:hover {
  background-color: #736B92;
  transition: 0.7s;
}

#userPhone .info-panel #getStarted:hover {
  background-color: #BFDBF7;
  transition: 0.7s;
}

#userPhone .aboutUs {
  display: none;
  position: fixed;
  max-width: 235px;
  max-height: 550px;
  margin-top: 20px;
  overflow-y: scroll;
  left: 250px;
  padding: 15px;
  background-color: #9BD1E5;
  border-radius: 30px;
  font-size: 18px;
}

#userPhone .aboutUs h2 {
  color: #F7FFF7;
  text-align: center;
  font-size: 24px;
  background-color: #6A8EAE;
  border-radius: 30px;
  padding: 10px;
}

#userPhone .aboutUs h3 {
  padding: 0;
  margin-top: -5px;
  margin-bottom: -15px;
  color: white;
}

#userPhone .aboutUs p {
  margin-bottom: 40px;
}

#userPhone .aboutUs img {
  border-radius: 20px;
}

#userPhone .chooseAffiliation {
  display: none;
  position: fixed;
  max-width: 235px;
  min-height: 550px;
  margin-top: 20px;
  left: 250px;
  padding: 15px;
  background-color: #9BD1E5;
  border-radius: 30px;
  font-size: 22px;
}

#userPhone .chooseAffiliation h2 {
  color: white;
  text-align: center;
  font-size: 24px;
  background-color: #6A8EAE;
  border-radius: 30px;
  padding: 10px;
}

#userPhone .chooseAffiliation form {
  text-align: left;
}

#userPhone .chooseAffiliation button {
  color: #053C5E;
  font-size: 20px;
  font-family: 'Gaegu';
  margin-top: 30px;
  padding: 15px;
  background-color: #FDCA40;
  transition: 0.7s;
}

#userPhone .chooseAffiliation button:hover {
  background-color: #BFDBF7;
  transition: 0.7s;
}

#userPhone .phoneHome {
  display: none;
  position: fixed;
  max-width: 235px;
  min-height: 550px;
  margin-top: 20px;
  left: 250px;
  padding: 15px;
  background-color: #9BD1E5;
  border-radius: 30px;
  font-size: 18px;
}

#userPhone .phoneHome h2 {
  color: white;
  background-color: #6A8EAE;
  border-radius: 30px;
  padding: 5px;
}

#printAffiliation {
  color: white;
  font-size: 36px;
  font-weight: bold;
}

#backarrow{
  background-color: white;
}

#backarrow:hover{
  background-color: #91d3ff;
  cursor: pointer;
}

.squiggle{
  visibility: hidden;
  z-index: 3;
  position: absolute;
  background-image: url("../img/squigglemain.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 99%;
  width: 99.25%;
  border-style: dashed;
}

.squiggle .title{
  position: fixed;
  background-image: url("../img/pinknote.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  top: 0%;
  width: 600px;
  height: 500px;
  padding: 50px;
  margin-top: 75px;
  font-size: 20px;
}

.squiggle .title h1{
  width: 50%;
  margin-left: 175px;
  margin-top: -0px;
  text-align: center;
}

.squiggle .title p, .squiggle .title h5{
  width: 70%;
  margin-left: 100px;
  text-align: center;
  font-size: 24px;
}

.squiggle .title h5{
  font-size: 30px;
  padding-top:10px;
}

.koi{
  visibility: hidden;
  z-index: 3;
  position: absolute;
  background-image: url("../img/koilandmark.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 99%;
  width: 99.25%;
  border-style: dashed;
}

.koi .title{
  position: fixed;
  background-image: url("../img/pinknote.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  bottom: 0;
  right: 5;
  width: 600px;
  height: 500px;
  padding: 50px;
  margin-top: 75px;
  font-size: 20px;
}

.koi .title h1{
  width: 50%;
  margin-left: 175px;
  margin-top: -0px;
  text-align: center;
}

.koi .title p, .koi .title h5{
  width: 70%;
  margin-left: 100px;
  text-align: center;
  font-size: 24px;
}

.koi .title h5{
  font-size: 30px;
  padding-top:10px;
}
